# Virtual Environment
venv/
ENV/
env/

# Environment Variables 
.env

# Python caching 
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# VS Code settings 
.vscode/

# OS metadata 
Thumbs.db
desktop.ini